<%-include header.ejs%>
<ul style="list-style-type: none">
    <li><h3><a href="#">lalalalal</a></h3>田优速传，为雅安祈福</li>
    <li><h3><a href="#">lalalalal</a></h3>田优速传，为雅安祈福</li>
    <li><h3><a href="#">lalalalal</a></h3>田优速传，为雅安祈福</li>
    <li><h3><a href="#">lalalalal</a></h3>田优速传，为雅安祈福</li>

</ul>

<%-include footer.ejs%>